body
{
  font-family: 'Raleway', sans-serif;
}

header
{
  display: flex;
}

.top_menu
{
  color: #0065FC;
  width: 100%;
  display: flex;
}

.top_menu a:nth-child(1)
{
  margin-left: auto;
}

.menu_item
{
  display: inline-block;
  padding: 1%;
  border-top: 2px solid white;
  text-decoration: none;
}

.menu_item:hover
{
  border-top: 2px solid #0065FC;
}

.search_container
{
  display: flex;
}

.search_container input
{
  font-weight: bold;
  padding-left: 10px;
}

.search_button
{
  border: none;
  color: white;
  background-color: #0065FC;
  border-radius: 0 10px 10px 0;
  font-weight: bold;
}

.icon
{
  padding: 10px;
  background-color: #F2F2F2;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 30% 0% 0% 30%;
}

.filters
{
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.filters-title
{
  font-weight: bold;
  margin: 0px;
  margin-right: 15px;
}

.filters-elements .icon
{
  border-radius: 50%;
  color: #0065FC;
  margin-right: 10px;
}

.filters-elements
{
  display: flex;
  width: 100%;
}


.filters-element
{
  border: solid #F2F2F2 1px;
  border-radius: 30px;
  margin: 10px;
  padding-right: 20px;
  font-weight: bold;
}

.filters-element i
{
  margin-left: -5px;
}

.bold
{
  font-weight: bold;
}

.flex
{
  display: flex;
}