/* ----------------- GENERAL ----------------- */
body
{
  font-family: 'Raleway', sans-serif;
}

.bold
{
  font-weight: bold;
}

.flex
{
  display: flex;
}

.padding-left-8-px
{
  padding-left: 8px;
}

.width-100-percent
{
  width: 100%;
}

/* Icones ----------------- */
.icon
{
  padding: 10px;
  background-color: #DEEBFF;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #0065FC;
  margin-right: 10px;
}

.search_container .icon
{
  border-radius: 30% 0% 0% 30%;
  margin-right: 0;
  background-color: #F2F2F2;
  color: black;
}

.info-block .icon
{
  background-color: white;
  border: solid #F2F2F2 2px;
  padding: 3px;
}

.star-full
{
  color: #0065FC;
}

.star-empty
{
  color: #F2F2F2;
}

/* ----------------- HEADER ----------------- */
header
{
  display: flex;
}

.top_menu
{
  color: #0065FC;
  width: 100%;
  display: flex;
}

.top_menu a:nth-child(1)
{
  margin-left: auto;
}

.menu_item
{
  display: inline-block;
  padding: 1%;
  border-top: 2px solid white;
  text-decoration: none;
}

.menu_item:hover
{
  border-top: 2px solid #0065FC;
}

/* ----------------- MAIN CONTENT ----------------- */

/* Recherche ----------------- */
.search_container
{
  display: flex;
}

.search_container input
{
  font-weight: bold;
  padding-left: 10px;
  border: solid #F2F2F2;
  border-right: none;
}

.search_button
{
  border: none;
  color: white;
  background-color: #0065FC;
  border-radius: 0 10px 10px 0;
  font-weight: bold;
  border: solid #F2F2F2;
  border-left: none;
}

.search_button:hover
{
  cursor: pointer;
}

/* Filtres ----------------- */
.filters
{
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.filters-title
{
  font-weight: bold;
  margin: 0px;
  margin-right: 15px;
}

.filters-elements
{
  display: flex;
  width: 100%;
}

.filters-element
{
  border: solid #F2F2F2 1px;
  border-radius: 30px;
  margin: 10px;
  padding-right: 20px;
  font-weight: bold;
}

.filters-element:hover
{
  cursor: pointer;
}

.filters-element i
{
  margin-left: -5px;
}

/* Section centrale */
.section-centrale
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-centrale-element
{
  border-radius: 20px;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Hébergements à Marseille ----------------- */

.hebergements-a-marseille
{
  width: 60%;
  background-color: #F2F2F2;
}

.hebergements-a-marseille-element
{
  width: 30%;
  padding: 5px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 3%;
}


.hebergements-a-marseille-image
{
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
}

.hebergements-a-marseille a
{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.hebergements-a-marseille-element:hover
{
  cursor: pointer;
}

/* Les plus populaires ----------------- */
.plus-populaires
{
  width: 30%;
  background-color: #F2F2F2;
}

/* Activités à Marseille ----------------- */
.activites-a-marseille
{
  width: 100%;
}