/* ----------------- GENERAL ----------------- */
body
{
  font-family: 'Raleway', sans-serif;
}

.bold
{
  font-weight: bold;
}

.margin-0
{
  margin: 0;
}

.flex
{
  display: flex;
}

.padding-left-8-px
{
  padding-left: 8px;
}

.width-100-percent
{
  width: 100%;
}

img
{
  object-fit: cover;
}

/* Icones ----------------- */
.icon
{
  padding: 10px;
  background-color: #DEEBFF;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #0065FC;
  margin-right: 10px;
}

.search_container .icon
{
  border-radius: 30% 0% 0% 30%;
  margin-right: 0;
  background-color: #F2F2F2;
  color: black;
}

.info-block .icon
{
  background-color: white;
  border: solid #F2F2F2 2px;
  padding: 3px;
}

.star-full
{
  color: #0065FC;
}

.star-empty
{
  color: #F2F2F2;
}

/* ----------------- HEADER ----------------- */
#header-mobile
{
  display: none;
}

header
{
  display: flex;
}

.top_menu
{
  color: #0065FC;
  width: 100%;
  display: flex;
}

.top_menu a:nth-child(1)
{
  margin-left: auto;
}

.menu_item
{
  display: inline-block;
  padding: 1%;
  border-top: 2px solid white;
  text-decoration: none;
}

.menu_item:hover
{
  border-top: 2px solid #0065FC;
}

/* ----------------- MAIN CONTENT ----------------- */

/* Recherche ----------------- */
#search-button-mobile
{
  display: none;
}

.search_container
{
  display: flex;
}

.search_container i:hover
{
  cursor: pointer;
  background-color: #e4dbdb;
}

.search_container input
{
  font-weight: bold;
  padding-left: 10px;
  border: solid #F2F2F2;
  border-right: none;
}

.search_button
{
  border: none;
  color: white;
  background-color: #0065FC;
  border-radius: 0 10px 10px 0;
  font-weight: bold;
  border: solid #F2F2F2;
  border-left: none;
}

.search_button:hover
{
  cursor: pointer;
  background-color: #277bfa;
}

/* Filtres ----------------- */
.filters
{
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.filters-title
{
  font-weight: bold;
  margin: 0px;
  margin-right: 15px;
}

.filters-elements
{
  display: flex;
  width: 100%;
}

.filters-element
{
  border: solid #F2F2F2 1px;
  border-radius: 30px;
  margin: 10px;
  padding-right: 20px;
  font-weight: bold;
}

.filters-element:hover
{
  cursor: pointer;
  background-color: #DEEBFF;
}

.filters-element i
{
  margin-left: -5px;
}

/* Section centrale */
.section-centrale
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-centrale-element
{
  border-radius: 20px;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Hébergements à Marseille ----------------- */

.hebergements-a-marseille
{
  width: 60%;
  background-color: #F2F2F2;
}

.hebergements-a-marseille-element
{
  width: 25%;
  padding: 5px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 3%;
  box-shadow: 3px 3px 6px #e4dbdb;
}


.hebergements-a-marseille-image
{
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
}

.hebergements-a-marseille a
{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.hebergements-a-marseille-element:hover
{
  cursor: pointer;
}

/* Les plus populaires ----------------- */
.plus-populaires
{
  width: 30%;
  background-color: #F2F2F2;
}

.plus-populaires-title
{
  display: flex;
  align-items: center;
  width: 100%;
}

.plus-populaires-title h2:last-of-type
{
  margin-left: auto;
}

.plus-populaires-element
{
  display: flex;
  height: 25%;
  padding: 5px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 3%;
  box-shadow: 3px 3px 6px #e4dbdb;
}

.plus-populaires-element
{
  cursor: pointer;
}

.plus-populaires-element-text
{
  padding-left: 18px;
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
}

.plus-populaires-element-text div:last-of-type
{
  margin-top: auto;
}

.plus-populaires-image
{
  width: 30%;
  border-radius: 20px 0 0 20px;
}

/* Activités à Marseille ----------------- */
.activites-a-marseille
{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.activites-a-marseille-element-container
{
  display: flex;
  justify-content: space-between;
}

.activites-a-marseille-element
{
  width: 20%;
  height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 6px #e4dbdb;
}

.activites-a-marseille-element:hover
{
  cursor: pointer;
}

.activites-a-marseille-element-superpose-container
{
  width: 20%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activites-a-marseille-element-superpose-1
{
  border-radius: 20px;
  height: 50%;
  display: flex;
  flex-direction: column; 
  box-shadow: 3px 3px 6px #e4dbdb;
}

.activites-a-marseille-element-superpose-1:hover
{
  cursor: pointer;
}

.activites-a-marseille-element-superpose-2
{
  border-radius: 20px;
  height: 40%;
  display: flex;
  flex-direction: column; 
  box-shadow: 3px 3px 6px #e4dbdb;
}

.activites-a-marseille-element-superpose-2:hover
{
  cursor: pointer;
}

.activites-a-marseille-element-image-1
{
  width: 100%;
  height: 90%;
  border-radius: 20px 20px 0 0;
}

.activites-a-marseille-element-image-2
{
  width: 100%;
  height: 80%;
  border-radius: 20px 20px 0 0;
}

.activites-a-marseille-element-image-3
{
  width: 100%;
  height: 75%;
  border-radius: 20px 20px 0 0;
}

/* ----------------- FOOTER ----------------- */
footer
{
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
}

.footer-element
{
  width: 30%;
  margin: 2%;
}

.footer-element a
{
  text-decoration: none;
  color: black;
}

/* ----------------- MEDIA QUERIES ----------------- */

/* Mobile ----------------- */
@media (max-width: 667px)
{
  #header-desktop
  {
    display: none;
  }

  #header-mobile
  {
    display: block;
  }

  #header-mobile-first-part
  {
    display: flex;
    align-items: center;
  }

  #header-mobile #header-mobile-first-part a:nth-child(2)
  {
    text-decoration: none;
    font-weight: bold;
    margin-left: auto;
    margin-right: 20px;
    color: #0065FC;
  }

  #header-mobile-second-part
  {
    display: flex;
    align-items: center;
    width: 100%;
  }

  #header-mobile-second-part a
  {
    text-decoration: none;
    display: inline-block;
    border-bottom: #F2F2F2 solid;
    padding: 5%;
    width: 50%;
    text-align: center;
  }

  #header-mobile-second-part a:hover
  {
    color: #0065FC;
    border-bottom: #0065FC solid;
  }

  .search_container
  {
    justify-content: center;
  }

  .search_button
  {
    display: none;
  }

  #search-button-mobile
  {
    display: block;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 20%;
    padding: 10px;
    margin-left: -5px;
  }

  .filters
  {
    flex-wrap: wrap;
  }

  .filters-title
  {
    width: 100%;
  }

  .filters-elements
  {
    flex-wrap: wrap;
    width: 100%;
  }

  .filters-elements .filters-element:nth-child(1)
  {
    width: 40%;
  }
  .filters-elements .filters-element:nth-child(2)
  {
    width: 35%;
  }

  .filters-elements .filters-element:nth-child(3)
  {
    width: 40%;
  }

  .filters-elements .filters-element:nth-child(4)
  {
    width: 55%;
  }

  .section-centrale-element
  {
    width: 100%;
  }

  .section-centrale .section-centrale-element:nth-child(1)
  {
    order: 2;
    flex-direction: column;
    background-color: white;
  }

  .hebergements-a-marseille-element
  {
    width: 100%;
    padding-bottom: 5px;
  }

  .section-centrale .section-centrale-element:nth-child(2)
  {
    order: 1;
  }

  .section-centrale .section-centrale-element:nth-child(3)
  {
    order: 3;
  }

  .activites-a-marseille-element-container
  {
    flex-direction: column;
  }

  .activites-a-marseille-element,
  .activites-a-marseille-element-superpose-container
  {
    width: 100%;
    justify-content: start;
    margin-bottom: 30px;
  }

  .activites-a-marseille-element-superpose-container
  {
    height: 600px;
  }

  .activites-a-marseille-element
  {
    height: 300px;
  }

  .activites-a-marseille-element-superpose-1,
  .activites-a-marseille-element-superpose-2
  {
    margin-bottom: 30px;
    height: 300px;
  }

  .activites-a-marseille-element-image-1,
  .activites-a-marseille-element-image-2,
  .activites-a-marseille-element-image-3
  {
    height: 85%;
  }

  footer
  {
    margin-top: 20px;
    flex-direction: column;
    padding: 20px;
  }

  .footer-element
  {
    width: 100%;
  }
}